
.icon-checkmark:before{content:"\e008"}
.icon-facebook:before{content:"\e003";color:#2568b1}
.icon-googleplus:before{content:"\e004";color:#cf3013}
.icon-twitter:before{content:"\e005";color:#0ab1d2}
.icon-youtube:before{content:"\e006";color:#de0614}
.icon-buddy:before{content:"\e00a";font-size:120%}
.icon-key:before{content:"\e00b"}
.icon-windsheild:before,.icon-windshield:before{content:"\e00c"}
.icon-refresh:before{content:"\e00d"}
.icon-smiley:before{content:"\e00e"}
.icon-mail:before,.icon-email-us:before{content:"\e00f"}
.icon-money:before{content:"\e010"}
.icon-contact:before{content:"\e011"}
.icon-travel:before,.icon-travel-insurance:before{content:"\e012"}
.icon-roadside:before,.icon-roadside-assistance:before{content:"\e013"}
.icon-pet:before,.icon-pet-insurance:before{content:"\e014"}
.icon-thumbs-up:before{content:"\e016"}
.icon-guarantee:before{content:"\e017"}
.icon-hail-hero:before{content:"\e018"}
.icon-info:before{content:"\e019"}
.icon-star:before{content:"\e01b"}
.icon-no-forms:before,.icon-none:before{content:"\e01c"}
.icon-mouse:before{content:"\e01d"}
.icon-phone:before{content:"\e01e"}
.icon-calculator:before{content:"\e91f"}
.icon-shield:before,.icon-sheild:before{content:"\e01f"}
.icon-help:before{content:"\e020"}
.icon-calendar:before{content:"\e021"}
.icon-close:before{content:"\e007"}
.icon-search:before{content:"\e022"}
.icon-tick:before{content:"\e023"}
.icon-dollars:before{content:"\e024"}
.icon-weather:before{content:"\e025"}
.icon-house:before{content:"\e026"}
.icon-compare:before{content:"\e027"}
.icon-personal-accident:before,.icon-personal-accidentinsurance:before{content:"\e015"}
.icon-chevron-down:before{content:"\e028"}
.icon-chevron-right:before{content:"\e029"}
.icon-menu:before{content:"\e02f"}
.icon-speech-bubbles:before{content:"\e02b"}
.icon-sport:before{content:"\e99d"}
.icon-cards:before{content:"\e02c"}
.icon-arrow:before{content:"\e02d"}
.icon-phone-2:before{content:"\e02e"}
.icon-ninety-four:before{content:"\e900"}
.icon-award:before{content:"\e901"}
.icon-flexible:before{content:"\e902"}
.icon-policy-manager:before{content:"\e903"}
.icon-clock:before{content:"\e904"}
.icon-plus:before{content:"\e905"}
.icon-cross:before{content:"\e905";-webkit-transform:rotate(45deg);transform:rotate(45deg);display:inline-block}
.icon-cross-2:before{content:"\e928";-webkit-transform:rotate(45deg);transform:rotate(45deg);display:inline-block}
.icon-increase:before{content:"\e906"}
.icon-download{-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.icon-download:before{content:"\e906"}
.icon-download2:before{content:"\e9a2"}
.icon-bandaid:before{content:"\e907"}
.icon-cancel:before{content:"\e908"}
.icon-child:before{content:"\e909"}
.icon-delay:before{content:"\e90a"}
.icon-diamond:before{content:"\e90b"}
.icon-earlypayment:before{content:"\e90c"}
.icon-flower:before{content:"\e90d"}
.icon-globe:before{content:"\e90e"}
.icon-luggage:before{content:"\e90f"}
.icon-medical:before{content:"\e910"}
.icon-pass:before{content:"\e911"}
.icon-pds:before{content:"\e912"}
.icon-piggy-bank:before,.icon-pig:before{content:"\e913"}
.icon-snow:before{content:"\e914"}
.icon-calendar-full:before{content:"\e915"}
.icon-hourglass:before{content:"\e916"}
.icon-save-15-tag:before{content:"\e917"}
.icon-cashback:before{content:"\e918"}
.icon-star-0:before{content:"\e919"}
.icon-star-5:before{content:"\e91b"}
.icon-star-10:before{content:"\e91a"}
.icon-temp-accommodation:before{content:"\e91c"}
.icon-compare-table:before{content:"\e91d"}
.icon-australia:before{content:"\e91e"}
.icon-income-protection:before{content:"\e920"}
.icon-gift-card:before{content:"\e921"}
.icon-tailor-made-insurance:before{content:"\e922"}
.icon-plus-2:before{content:"\e923"}
.icon-road:before{content:"\e924"}
.icon-easy-to-apply:before{content:"\e925"}
.icon-financial-strength:before{content:"\e926"}
.icon-inflation-proof:before{content:"\e927"}
.icon-additional:before{content:"\e928"}
.icon-checkmark-rounded:before{content:"\e929"}
.icon-checkmark-rounded-small:before{content:"\e96e"}
.icon-minus:before{content:"\e92a"}
.icon-accidental-death:before{content:"\e92b"}
.icon-motor-burnout:before{content:"\e92c"}
.icon-accidental-breakage:before{content:"\e92d"}
.icon-new-possession:before{content:"\e92e"}
.icon-landlord:before{content:"\e92f"}
.icon-personal-possession:before{content:"\e930"}
.icon-flood:before{content:"\e931"}
.icon-incentive:before{content:"\e932"}
.icon-range:before{content:"\e933"}
.icon-financial-strength-2:before{content:"\e934"}
.icon-lock-cover:before{content:"\e935"}
.icon-old-phone:before{content:"\e936"}
.icon-new-car:before{content:"\e937"}
.icon-ncd-shield:before{content:"\e938"}
.icon-ncd:before{content:"\e939"}
.icon-car-key-ring:before{content:"\e93a"}
.icon-home-content:before{content:"\e93b"}
.icon-edit:before{content:"\e93c"}
.icon-cruise:before{content:"\e93d"}
.icon-no-chat:before{content:"\e93e"}
.icon-health-pdf:before{content:"\e93f"}
.icon-elderly-couple:before{content:"\e940"}
.icon-family:before{content:"\e941"}
.icon-established-family:before{content:"\e942"}
.icon-new-family:before{content:"\e943"}
.icon-health-starter-plus:before{content:"\e944"}
.icon-health-top:before{content:"\e945"}
.icon-health-mid:before{content:"\e946"}
.icon-provider:before{content:"\e947"}
.icon-capped:before{content:"\e948"}
.icon-hand-shake:before{content:"\e949"}
.icon-switch:before{content:"\e94a"}
.icon-doctor:before{content:"\e94b"}
.icon-control:before{content:"\e94c"}
.icon-health-starter:before{content:"\e94d"}
.icon-tow:before{content:"\e94e"}
.icon-pet-footprints:before{content:"\e94f"}
.icon-multipet:before{content:"\e950"}
.icon-dog:before{content:"\e951"}
.icon-cat:before{content:"\e952"}
.icon-lifetime:before{content:"\e953"}
.icon-third-party:before{content:"\e954"}
.icon-ra-pds:before{content:"\e955"}
.icon-advice:before{content:"\e956"}
.icon-key-2:before{content:"\e957"}
.icon-fuel:before{content:"\e958"}
.icon-new-tyre:before{content:"\e959"}
.icon-battery:before{content:"\e95a"}
.icon-10-percent-off:before{content:"\e95b"}
.icon-wallet:before{content:"\e95c"}
.icon-ctp:before{content:"\e95d"}
.icon-car-third-party:before{content:"\e95e"}
.icon-car-comprehensive:before{content:"\e95f"}
.icon-act:before{content:"\e960"}
.icon-nsw:before{content:"\e961"}
.icon-qld:before{content:"\e962"}
.icon-sa:before{content:"\e963"}
.icon-tas:before{content:"\e964"}
.icon-vic:before{content:"\e965"}
.icon-wa:before{content:"\e966"}
.icon-repair:before{content:"\e967"}
.icon-low-km:before{content:"\e968"}
.icon-loss-car:before{content:"\e969"}
.icon-hire-car:before{content:"\e96a"}
.icon-high-excess:before{content:"\e96b"}
.icon-car-damage:before{content:"\e96c"}
.icon-bullet-list:before{content:"\e96d"}
.icon-car-third-party-fire:before{content:"\e96f"}
.icon-car-location:before{content:"\e970"}
.icon-car-value:before{content:"\e971"}
.icon-car-side:before{content:"\e972"}
.icon-suitcase:before{content:"\e973"}
.icon-cost-compare:before{content:"\e974"}
.icon-document:before{content:"\e975"}
.icon-age:before{content:"\e976"}
.icon-excess:before{content:"\e977"}
.icon-legal:before{content:"\e978"}
.icon-sick:before{content:"\e979"}
.icon-temperature:before{content:"\e97a"}
.icon-volcano:before{content:"\e97b"}
.icon-medical-expenses:before{content:"\e97c"}
.icon-earthquake:before{content:"\e97d"}
.icon-caution:before{content:"\e97e"}
.icon-cash:before{content:"\e97f"}
.icon-building:before{content:"\e980"}
.icon-hnc:before{content:"\e981"}
.icon-radiation:before{content:"\e982"}
.icon-large-groups:before{content:"\e983"}
.icon-awning:before{content:"\e984"}
.icon-fridge:before{content:"\e985"}
.icon-fittings:before{content:"\e986"}
.icon-new-lock:before{content:"\e987"}
.icon-bbq:before{content:"\e988"}
.icon-broken-window:before{content:"\e989"}
.icon-frown:before{content:"\e98a"}
.icon-investment-property:before{content:"\e98b"}
.icon-more:before{content:"\e98c"}
.icon-full-building:before{content:"\e98d"}
.icon-discount-percentage:before{content:"\e98e"}
.icon-research:before{content:"\e98f"}
.icon-snow-sport:before{content:"\e990"}
.icon-ski-pack:before{content:"\e991"}
.icon-quote-66:before{content:"\e992"}
.icon-quote-99:before{content:"\e993"}
.icon-airport:before{content:"\e994"}
.icon-tv:before{content:"\e995"}
.icon-big-diamond:before{content:"\e996"}
.icon-messenger:before{content:"\e999"}
.icon-link:before{content:"\e99a"}
.icon-share:before{content:"\e99b"}
.icon-call-centre:before{content:"\e99c"}
.icon-cart:before{content:"\e99e"}
.icon-user-circle:before{content:"\e99f"}
.icon-map-marker:before{content:"\e9a0"}
.icon-news:before{content:"\e9a1"}